/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@font-face {
    font-family: 'FreightNeo';
    src: url('../fonts/FreightNeoPro-Semibold.eot');
    src: url('../fonts/FreightNeoPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FreightNeoPro-Semibold.woff') format('woff'),
        url('../fonts/FreightNeoPro-Semibold.ttf') format('truetype'),
        url('../fonts/FreightNeoPro-Semibold.svg#FreightNeoPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FreightNeo';
    src: url('../fonts/FreightNeoPro-Book.eot');
    src: url('../fonts/FreightNeoPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FreightNeoPro-Book.woff') format('woff'),
        url('../fonts/FreightNeoPro-Book.ttf') format('truetype'),
        url('../fonts/FreightNeoPro-Book.svg#FreightNeoPro-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/LucidaGrande.eot');
    src: url('../fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LucidaGrande.woff') format('woff'),
        url('../fonts/LucidaGrande.ttf') format('truetype'),
        url('../fonts/LucidaGrande.svg#LucidaGrande') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTEesti';
    src: url('../fonts/GTEestiProDisplay-Medium.eot');
    src: url('../fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProDisplay-Medium.woff') format('woff'),
        url('../fonts/GTEestiProDisplay-Medium.ttf') format('truetype'),
        url('../fonts/GTEestiProDisplay-Medium.svg#GTEestiProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GTEesti';
    src: url('../fonts/GTEestiProDisplay-Regular.eot');
    src: url('../fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
        url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/GTEestiProDisplay-Regular.svg#GTEestiProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTEesti';
    src: url('../fonts/GTEestiProDisplay-Light.eot');
    src: url('../fonts/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTEestiProDisplay-Light.woff') format('woff'),
        url('../fonts/GTEestiProDisplay-Light.ttf') format('truetype'),
        url('../fonts/GTEestiProDisplay-Light.svg#GTEestiProDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

