/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #fff; font-family: $font-quasimoda; font-size: $font-size-base; line-height: $line-height-base; color: #000; font-weight: 300; }

a { color: inherit; text-decoration: underline; }

a:hover,
a[href^="tel"] { text-decoration: none; transition: .4s; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc($(line-height-base)em / 2); }

h1 { font-size: 150px; line-height: 0.8; font-family: $font-gteesti; font-weight: 500; }
h2 { font-size: 100px; font-family: $font-gteesti; font-weight: 500; }
h3 { font-size: 46px; font-family: $font-gteesti; font-weight: 400; }
h4 { font-size: 30px; font-family: $font-gteesti; font-weight: 400; }
h5 { font-size: 24px; font-family: $font-gteesti; font-weight: 400; }
h6 { font-size: 22px; font-family: $font-gteesti; font-weight: 300; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: $(line-height-base)em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	h1 { font-size: 50px; }
	h2 { font-size: 42px; }
	h3 { font-size: 32px; }
	h4 { font-size: 24px; }
	h5 { font-size: 18px; }
	h6 { font-size: 16px; }
	
	p { font-size: 15px; }
}