/* ------------------------------------------------------------ *\
	Instagram Gallery
\* ------------------------------------------------------------ */

/* Mobile */

$breakpoint-mobile {
	.section-gallery ul { display: flex; flex-wrap: wrap; }
	.section-gallery ul li { width: 50%; }
}
