/* ------------------------------------------------------------ *\
	Slider News
\* ------------------------------------------------------------ */

.slider-news { position: relative; font-size: 30px; line-height: 1.33; color: #2a533f; text-align: center; }

.slider-news .slider__slide-content { max-width: 750px; margin: 0 auto; }
.slider-news .slider__slide-content p { font-family: $font-gteesti; font-weight: 400; }
.slider-news .slider__slide-content h5 { margin-bottom: 40px; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; font-weight: 500; }

.slider-news .slick-prev,
.slider-news .slick-next { position: absolute; z-index: 99; top: calc(50% - 30px); padding: 12px; border-width: 2px 0 0 2px;  font-size: 0; border-color: #2a533f; background-color: transparent; transition: opacity .4s; }

.slider-news .slick-prev { left: 0; transform: rotate(-45deg); }
.slider-news .slick-next { right: 0; transform: rotate(135deg); }

.slider-news .slick-prev:hover,
.slider-news .slick-next:hover { opacity: .8; }

.slider-news .slick-prev:focus,
.slider-news .slick-next:focus { outline: 0; }
.slider-news .slick-dots { list-style: none; padding: 0; margin: 0; }

.slider-news .slider__paging { padding-top: 66px; }

.slider-news .slider__paging ul { display: flex; align-items: center; justify-content: center; list-style: none; padding: 0; margin: 0; }
.slider-news .slider__paging li { display: inline-block; }

.slider-news .slider__paging li.current a { opacity: 1; }
.slider-news .slider__paging li ~ li { margin-left: 34px; }
.slider-news .slider__paging a { display: inline-block; opacity: .1; }

/* Mobile */

$breakpoint-mobile {
	.slider-news .slider__slide-content h5 { margin-bottom: 20px; }
	.slider-news .slick-prev, 
	.slider-news .slick-next { padding: 8px; top: 50%; }
	.slider-news .slider__slide-content { max-width: 200px; }
	.slider-news .slider__slide-content h5 { margin-bottom: 35px; font-size: 12px; }
	.slider-news .slider__slide-content p { font-size: 18px; }
	.slider-news .slider__paging { padding: 20px 0; overflow-x: scroll; }

	.slider-news .slider__paging .slick-slide { margin: 0 20px; }
	.slider-news .slider__paging .slick-slide.slick-current { opacity: 1; }
	.slider-news .slider__paging li.current a { opacity: .1; }
	.slider-news .slider__paging .slick-slide.slick-current a { opacity: 1; }
}

/* ------------------------------------------------------------ *\
	Slider News
\* ------------------------------------------------------------ */

.slider-ethos { position: relative; font-size: 30px; line-height: 1.33; color: #2a533f; text-align: center; }

.slider-ethos .slider__slide-content { max-width: 750px; margin: 0 auto; }
.slider-ethos .slider__slide-content--large { max-width: 965px;  }
.slider-ethos .slider__slide-content p { font-family: $font-gteesti; font-weight: 400; }
.slider-ethos .slider__slide-content h5 { margin-bottom: 34px; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; font-weight: 500; font-family: $font-quasimoda; }
.slider-ethos .slider__slide-content h4 { line-height: 1.33;  }
.slider-ethos .slick-prev,
.slider-ethos .slick-next { position: absolute; top: calc(50% - 30px); padding: 12px; border-width: 2px 0 0 2px;  font-size: 0; border-color: #2a533f; background-color: transparent; transition: opacity .4s; display: block; z-index: 5; }

.slider-ethos .slick-prev { left: 0; transform: rotate(-45deg); }
.slider-ethos .slick-next { right: 0; transform: rotate(135deg); }

.slider-ethos .slick-prev:hover,
.slider-ethos .slick-next:hover { opacity: .8; }

.slider-ethos .slick-prev:focus,
.slider-ethos .slick-next:focus { outline: 0; }
.slider-ethos .slick-dots { list-style: none; padding: 0; margin: 0; }

.slider-ethos .slider__paging { padding-top: 66px; }

.slider-ethos .slider__paging ul { display: flex; align-items: center; justify-content: center; list-style: none; padding: 0; margin: 0; }
.slider-ethos .slider__paging li { display: inline-block; }

.slider-ethos .slider__paging li.current a { opacity: 1;  }
.slider-ethos .slider__paging li ~ li { margin-left: 34px; }
.slider-ethos .slider__paging a { display: inline-block; opacity: .3; }

.slider-ethos .slick-dots { margin: 26px 0 0; }

.slider-ethos .slick-dots li { display: inline-block; }
.slider-ethos .slick-dots li ~ li { margin-left: 12px; }

.slider-ethos .slick-dots button { font-size: 0; border-radius: 50%; width: 12px; height: 12px; background-color: transparent; border: 1px solid #a2aba6; }
.slider-ethos .slick-dots li.slick-active button { background-color: #a2aba6; }
.slider-ethos .slick-dots button:hover { background-color: #a2aba6; }
.slider-ethos .slick-dots button:focus { outline: 0; }

/* Mobile */

$breakpoint-mobile {
	.slider-ethos .slider__slide-content h5 { margin-bottom: 20px; }
	.slider-ethos .slider__slide-content { max-width: 450px; }
	.slider-ethos .slick-prev, 
	.slider-ethos .slick-next { padding: 8px; top: 50%; }
	.slider-ethos .slider__slide-content h5 { margin-bottom: 38px; font-size: 12px; }
	.slider-ethos .slider__slide-content h4 { padding: 0 28px; font-size: 18px; line-height: 1.4; }
	.slider-ethos .slider__paging { padding: 20px 0; overflow-x: scroll; }
	.slider-ethos .slick-dots { margin: 5px 0 0; }
}

/* Mobile */

$breakpoint-mobile-portrait {
	.slider-ethos .slider__slide-content { max-width: 250px; }
}