/* ------------------------------------------------------------ *\
	Subsrcribe
\* ------------------------------------------------------------ */
.section-subscribe .section__entry { padding-top: 5px; }

.subscribe { max-width: 447px; margin: 0 auto; }
.subscribe .frm_fields_container { display: flex; flex-wrap: wrap; }
.subscribe .frm_fields_container fieldset { padding: 0 !important; }
.subscribe .email { width: 67%; }

.subscribe form { display: flex; align-items: center; }

.subscribe input[type="email"] { display: block !important; padding: 0 19px !important; height: 39px !important; line-height: 37px !important; min-width: 305px !important; background-color: #f2f2f0 !important; border: 1px solid transparent !important; appearance: none !important; font-size: 13px !important; color: #a2aba6 !important; font-weight: 300 !important; transition: border .4s !important; box-shadow: none !important; border-radius: 0 !important; }
.subscribe input[type="email"]:focus { border-color: #2a533f !important; }

.subscribe .ack-field { order: 3; width: 100%; }

.subscribe .frm_button_submit { margin-left: 10px !important; margin-top: 0 !important; margin-bottom: 0 !important; min-width: 135px !important; height: 38px !important; background-color: transparent !important; border: 1px solid #2a533f !important; text-transform: uppercase !important; letter-spacing: 2px !important; font-size: 12px !important; font-weight: 500 !important; color: #2a533f !important; padding: 9px 13px 11px !important; box-shadow: none !important; border-color: #2a533f !important; border-radius: 0 !important; }
.subscribe .frm_button_submit:hover { background-color: #2a533f !important; color: #fff !important; }

/* Mobile */

$breakpoint-mobile {
	.subscribe form { display: block; }
	.subscribe .subscribe__field { min-width: 280px; margin: 0 auto; }
	.subscribe .btn { margin-left: 0; margin-top: 14px; min-width: 200px; }
}