/* ------------------------------------------------------------ *\
	Member
\* ------------------------------------------------------------ */

.member {  }

.member .member__image { min-height: 608px; width: 100%;  background-repeat: no-repeat; background-position: center center; background-size: contain; }
.member .member__inner { position: relative; display: flex; flex-wrap: wrap; }

.member .member__aside { position: absolute; left: 0; right: 50%; width: 50%; top: 0; }
.member .member__content { position: relative; margin-left: calc(45% + 50px); max-width: 494px; padding-top: 20px; }
.member .member__entry h4 { margin-bottom: 9px; color: #2A533F; }
.member .member__entry h6 { margin-bottom: 20px; color: #2A533F; }
.member .member__entry p { line-height: 1.5; }
.member .member__actions { padding-top: 30px; }

/* Small Desktop */

$breakpoint-small-desktop {
	.member .member__image { background-size: cover; }
	.member .member__content { max-width: 50%; padding: 20px 100px 0 0;  }
}

/* Mobile */

$breakpoint-mobile {
	.member .member__aside { position: static; order: 2; width: 100%; min-height: 286px; }
	.member .member__image  {; min-height: 383px; background-size: contain; margin-right: auto; }
	.member .member__content { max-width: 100%; padding: 15px 20px; margin-left: 0; }
	.member .member__entry h4 { margin-bottom: 14px; font-size: 30px; }
	.member .member__entry p { line-height: 1.4; }
	.member .member__actions .btn  { min-width: 100%; }
}

/* ------------------------------------------------------------ *\
	Member Team
\* ------------------------------------------------------------ */

.member--team .member__image { min-height: auto; }
.member--team .member__image img { width: 100%; }

.member--team .member__foot { margin-top: 158px; }
.member--team .member__foot span { margin-bottom: 33px; display: block; }
.member--team .member__foot h3 { color: #2a533f; position: relative; padding-bottom: 34px; }
.member--team .member__foot h3:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; width: 50px; height: 3px; background-color: #2a533f; }
.member--team .member__foot svg { width: 55px; height: 46px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.member--team .member__foot { margin-top: 115px; }
}

/* Mobile */

$breakpoint-mobile {
	.member--team .member__image { padding-top: 30px; margin: 0 auto; }
	.member--team .member__foot { margin-top: 80px; }
}