/* ------------------------------------------------------------ *\
	Author
\* ------------------------------------------------------------ */

.author { display: flex; }
.author .author__image { width: 22%; margin-right: 30px; }
.author .author__image img { width: 135px; height: 135px; border: 1px solid #d1d5d3;  }

.author .author__inner { width: 72%; }

.author .author__head { margin-bottom: 5px; }
.author .author__head p { font-size: 14px; font-family: $font-quasimoda; font-weight: 500; color: #2a533f; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 6px; }
.author .author__head h5 { line-height: 1.42; color: #2a533f; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.author .author__image { width: 36% }
	.author .author__image img { width: 100%; max-width: 100%; height: auto; }
}

/* Mobile */

$breakpoint-mobile {
	.author { flex-direction: column; }
	.author .author__image { width: 100%; margin-bottom: 15px; text-align: center; }
	.author .author__image img { max-width: 192px; }
	.author .author__inner { width: 100%; }
}