/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article + .article { margin-top: 61px; }
.article .article__image { width: 100%; min-height: 370px; background-repeat: no-repeat; background-size: cover; background-position: center; }
.article .article__image img { width: 100%; }

.article .article__head { margin-bottom: 17px; }

.article .article__meta { font-size: 14px; font-family: $font-quasimoda; font-weight: 500; text-transform: uppercase; color: #2a533f; letter-spacing: 2px; margin-bottom: 13px; }

.article .article__title { color: #2a533f; font-weight: 400; }
.article .article__title:hover { text-decoration: none; color: #2a533f; }
.article .article__title:hover a { color: #2a533f; }

.article .article__actions { margin-top: 26px; }

/* Mobile */

$breakpoint-mobile {
	.article .article__meta { margin-bottom: 15px; font-size: 12px; }
	.article .article__image { margin-bottom: 24px; }
	.article .article__title { margin-bottom: 24px; }

	.articles .article { position: relative; padding-bottom: 24px; }
	.articles .article__actions { position: absolute; bottom: 0; }
	.article .article__actions .btn-tag { padding: 7px 20px; }
}

/* ------------------------------------------------------------ *\
	Articles
\* ------------------------------------------------------------ */

.articles { display: flex; flex-wrap: wrap; }

.articles--big {  }
.articles--big .article { width: 24%; padding: 0 10px; }
.articles--big .article + .article { margin-top: 0; }


/* Mobile */

$breakpoint-mobile {
	.articles--big .article { width: 46%; }
	.articles--big .article .article__image { margin-bottom: 20px; }
}

/* ------------------------------------------------------------ *\
	Article Small
\* ------------------------------------------------------------ */

.article--small { margin-bottom: 40px; }
.article--small .article__image { margin-bottom: 44px; min-height: 178px; background-repeat: no-repeat; background-size: cover; background-position: center }
.article--small .article__head { min-height: 101px; }
.article--small .article__head h5 { line-height: 1.42; }

/* Mobile */

$breakpoint-mobile {
	.article--small { margin-bottom: 40px; }
	.article--small .article__head { min-height: 50px; }
	.article--small .article__image { margin-bottom: 10px; }
}

/* ------------------------------------------------------------ *\
	Article Col
\* ------------------------------------------------------------ */

.article--col + .article--col { margin-top: 0; }
.article--col { width: 20%; padding: 0 7px; margin-bottom: 68px; }
.article--col .article__image { margin-bottom: 24px; }
.article--col .article__head { min-height: 135px; }

/* Mobile */

$breakpoint-mobile {
	.article--col { width: 50%; margin-bottom: 50px; }
	.article--col .article__head { min-height: 85px; }
}

/* ------------------------------------------------------------ *\
	Article Large
\* ------------------------------------------------------------ */

.article-large { background-color: #fff; max-width: 1020px; margin: auto; position: relative; top: -56px; z-index: 20; }

.article-large .article__outer { background-color: #f2f2f0; padding: 4px 14px 11px 104px; }
.article-large .article__outer a { display: block; position: relative; padding-left: 15px; text-decoration: none; }
.article-large .article__outer span { font-family: $font-quasimoda; font-size: 11px; font-weight: 500; letter-spacing: 1.57px; text-transform: uppercase; display: inline-block; vertical-align: middle; padding-left: 7px; color: #2a533f; }
.article-large .article__outer i { position: absolute; top: 4px; left: 0; color: #2a533f; transition: left .3s; }
.article-large .article__outer:hover i { left: -10px; }

.article-large .article__inner { padding: 80px 102px 120px; }

.article-large .article__head { margin-bottom: 24px; }
.article-large .article__head h4 { line-height: 1.33; color: #2a533f; }

.article-large .article__content p,
.article-large .article__content h1,
.article-large .article__content h2,
.article-large .article__content h3,
.article-large .article__content h4,
.article-large .article__content h5,
.article-large .article__content h6,
.article-large .article__content ul,
.article-large .article__content blockquote,
.article-large .article__content ol { max-width: 610px; margin-left: auto; margin-right: auto; }

.article-large .article__content h1,
.article-large .article__content h2,
.article-large .article__content h3,
.article-large .article__content h4,
.article-large .article__content h5,
.article-large .article__content h6 { color: #2a533f; }

.article-large .article__content ul { font-size: 18px; list-style-type: none; list-style-position: inside; padding-left: 40px; margin-top: 5px; }
.article-large .article__content ul li { padding-left: 27px; position: relative; }
.article-large .article__content ul li:before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; margin: auto; width: 6px; height: 6px; border-radius: 50%; background-color: #000; }

.article-large .article__content ol { padding-left: 60px; }
.article-large .article__content ol li { padding-left: 6px; }

.article-large .article__image { margin: 57px 0 43px; }
.article-large .article__image img { width: 100%; }

.article-large .article__caption { font-size: 14px; font-family: $font-quasimoda; color: #2a533f; font-weight: 500; line-height: 1.64; letter-spacing: 2px; text-transform: uppercase; margin-top: 10px; }

.article-large .article__author { margin-top: 55px; border-top: 1px solid #d3d0cb; padding: 60px 103px 0; }

.article-large .article__content blockquote { padding: 0 30px; font-style: italic; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.article-large .article__inner { padding: 65px 87px 105px; }
	.article-large .article__author { padding: 50px 30px 0; }
	.article-large .article__outer { padding-left: 69px; }
}

/* Mobile */

$breakpoint-mobile {
	.article-large .article__inner { padding: 30px 52px 70px; }
	.article-large .article__author { padding: 50px 10px 0; }
	.article-large .article__outer { padding-left: 32px; }
}