/* ------------------------------------------------------------ *\
	Accordions
\* ------------------------------------------------------------ */

.accordions { margin-top: 82px; }
.accordions .accordions__head h3 { margin-bottom: 40px; }
.accordions .accordion { border-bottom: 1px solid #d3d0cb; padding-bottom: 30px; margin-bottom: 32px; }

.accordion .accordion__head { display: flex; justify-content: space-between; align-items: center; position: relative; padding-left: 32px; cursor: pointer; }
.accordion .accordion__head h3 { font-weight: 300; }
.accordion .accordion__head p { font-size: 22px; color: #2a533f; font-weight: 300;  }
.accordion .accordion__head .ico-plus { position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.accordion .accordion__head .ico-plus span { height: 2px; width: 13px; background-color: #2a533f; display: block; }
.accordion .accordion__head .ico-plus span:last-child { transform: rotate(90deg); transition: transform .3s, opacity .3s; top: -2px; position: relative; }
.accordion .accordion__head.active .ico-plus span:last-child { transform: rotate(0); opacity: 0; }

.accordion .accordion__body { padding: 20px; }

/* Mobile */

$breakpoint-mobile {
	.accordion .accordion__head p { font-size: 18px; }
}