/* ------------------------------------------------------------ *\
	Contact 
\* ------------------------------------------------------------ */

.contact + .contact { margin-top: 52px; }
.contact .contact__head { margin-bottom: 18px; }
.contact .contact__head h4 { color: #2a533f; }

.contact .contact__content ul { list-style-type: none; }
.contact .contact__content li + li { margin-top: 30px; }
.contact .contact__content li a { display: block; }
.contact .contact__content a:hover { color: #000; text-decoration: none; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.contact + .contact { margin-top: 26px; }
	.contact .contact__head { margin-bottom: 5px; }
	.contact .contact__content a { font-size: 13px; }
	.contact .contact__content li + li { margin-top: 15px; }
}

/* Mobile */

$breakpoint-mobile {
	.form { padding-top: 25px; }
}