/* ------------------------------------------------------------ *\
	Employee
\* ------------------------------------------------------------ */

.employees { display: flex; flex-wrap: wrap; }
.employees .employee { width: 20%; background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 229px; position: relative; overflow: hidden; }
.employees .employee > a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; z-index: 5; }

.employee .employee__outer { position: absolute; top: -100%; left: 0; width: 100%; height: 100%; background-color: #2a533f; color: #fff; padding: 37px 29px 22px; display: flex; flex-direction: column; justify-content: space-between; visibility: hidden; opacity: 0; transition: opacity .3s, visibility .3s, top .3s; }
.employee .employee__head h6 { font-weight: 500; margin-bottom: 10px; }

.employees .employee:hover .employee__outer { visibility: visible; opacity: 1; top: 0; }

/* Mobile */

$breakpoint-mobile {
	.employees .employee { width: 50%; }
}