/* ------------------------------------------------------------ *\
	Target
\* ------------------------------------------------------------ */

.target { position: absolute; border-bottom: 3px solid #2a533f; transform: translateX(-60px); }
.target.transition { transition: all .35s ease-in-out; }

/* ------------------------------------------------------------ *\
	Tabs Brands
\* ------------------------------------------------------------ */

.tabs-brands .tabs__nav { max-width: 617px; margin: 0 auto; border-bottom: 1px solid #a2aba6; }

.tabs-brands .tabs__nav ul { display: flex; justify-content: center; list-style: none; margin: 0; padding: 0; }
.tabs-brands .tabs__nav li { display: inline-block; }
.tabs-brands .tabs__nav li a:hover { color: #2a533f; }
.tabs-brands .tabs__nav li.current a { color: #2a533f; }  
.tabs-brands .tabs__nav li ~ li { margin-left: 35px; }
.tabs-brands .tabs__nav a { padding: 19px 0; display: inline-block; text-decoration: none; }
.tabs-brands .tabs__head { padding-bottom: 37px; }
.tabs-brands .tabs__body { position: relative; min-height: 700px; }

.tabs-brands .slick-slide { max-width: 1100px; opacity: 0; transition: opacity .5s ease-in-out; }
.tabs-brands .slick-slide.slick-current { opacity: 1; }
.tabs-brands .slick-slide.slick-current + .slick-slide { opacity: .3; }
.tabs-brands .slick-slide .brand .brand__image-grid .brand__image:first-child { display: none; }
.tabs-brands .slick-slide.slick-current .brand .brand__image-grid .brand__image:first-child { display: block; }


/* Mobile */

$breakpoint-mobile {
	.tabs-brands .tabs__nav { font-size: 14px;  }
	.tabs-brands .tabs__body { min-height: 400px; }
	.tabs-brands .tabs__nav ul { display: block; padding: 0 10px; white-space: nowrap; overflow-x: scroll; }
	.tabs-brands .tabs__nav li ~ li { margin-left: 20px; }

	.tabs-brands .brand__content { max-width: 350px; margin: 0 auto; text-align: center; }
	.tabs-brands .brand__icon img { margin: 0 auto; }
}

/* ------------------------------------------------------------ *\
	Tabs Team
\* ------------------------------------------------------------ */

.tabs-team {  }

.tabs-team .tabs__nav { max-width: 617px; margin: 0 auto; border-bottom: 1px solid #a2aba6; }
.tabs-team .tabs__nav ul { display: flex; justify-content: center; list-style: none; margin: 0; padding: 0; }
.tabs-team .tabs__nav li { display: inline-block; }
.tabs-team .tabs__nav li.current a { color: #2a533f; }  
.tabs-team .tabs__nav li ~ li { margin-left: 35px; }
.tabs-team .tabs__nav a { padding: 19px 0; display: inline-block; text-decoration: none; border-bottom: 3px solid transparent;  }
.tabs-team .tabs__head { padding-bottom: 45px; }
.tabs-team .tabs__nav a:hover { color: #2a533f; border-bottom-color: #2a533f; }
.tabs-team .tabs__body { position: relative; min-height: 580px; }
.tabs-team .tabs__body--large { min-height: 1212px; }
.tabs-team .tab { position: absolute; top: 0; right: 0; bottom: 0; left: 0; visibility: hidden; opacity: 0; transform: translateX(100%); transition: .4s; }
.tabs-team .tab.current { visibility: visible; opacity: 1; transform: translateX(0); }

.tabs-team .slick-slide { opacity: 0; transition: opacity 1s ease-in-out; }
.tabs-team .slick-slide.slick-current { opacity: 1; }
.tabs-team .slick-slide .member-entry { padding: 0 20px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.tabs-team .tabs__body--large { min-height: 822px; }
}

/* Mobile */

$breakpoint-mobile {
	.tabs-team .tabs__body { min-height: 1080px; }
	.tabs-team .tabs__nav ul { display: block; white-space: nowrap; overflow-x: scroll; } 
	.tabs-team .tabs__nav li ~ li { margin-left: 20px; }
	.tabs-team .tabs__head { padding-bottom: 20px; }

	.tabs-team--home .tabs__body { min-height: unset; }
}

/* ------------------------------------------------------------ *\
	Tabs Investors
\* ------------------------------------------------------------ */

.tabs-investors { position: absolute; z-index: 2; left: 0; right: 0; margin: 60px auto 0; }
.tabs-investors .shell { max-width: 918px; }
.tabs-investors ul { display: flex; justify-content: center; list-style-type: none; }
.tabs-investors li { padding: 0 10px; }
.tabs-investors li a { padding: 8px 0; color: #2a533f; text-decoration: none; font-size: 14px; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; border-bottom: 2px solid transparent; }
.tabs-investors li:not(:last-child):after { content: '/'; margin-left: 10px; }
.tabs-investors li a:hover { border-color: #2a533f; }
.tabs-investors li.current a { border-color: #2a533f; }

/* Mobile */

$breakpoint-mobile {
	.tabs-investors { margin-top: 40px; }
	.tabs-investors ul { display: block; white-space: nowrap; overflow-x: scroll; } 
	.tabs-investors li { display: inline-block; }
	.tabs-investors { padding-bottom: 13px; }
}