/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { font-size: 16px; font-weight: 500; color: #fff;  }

.nav ul { list-style: none; padding: 0; }
.nav li { display: inline-block; }
.nav li ~ li { margin-left: 28px; }
.nav a { position: relative; display: inline-block; text-decoration: none; }
.nav a:before { content: ''; position: absolute; top: 100%; left: 50%; height: 1px; width: 0; background-color: #2A533F; transition: .4s; }
.nav .nav__btn a { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; background-color: transparent; border-radius: 0; }
.nav .nav__btn a { padding: 0 10px; height: 30px; min-width: 87px; line-height: 28px; border: 1px solid #fff; }

.nav .nav__btn a:hover { background-color: #2a533f; border-color: #2a533f; color: #fff; }
.nav .nav__btn a:hover:before { content: none; }

.nav a:hover:before { left: 0; width: 100%; }

.nav li.current-menu-item a:before { left: 0; width: 100%; }

.nav--white a:hover { color: #fff; }
.nav--white a:before { background-color: #fff; }

.nav-trigger { display: none; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.nav-trigger { position: absolute; top: 30px; left: 20px; width: 24px; height: 26px; margin-top: 26px; margin-right: 8px; display: inline-block; visibility: visible; opacity: 1; z-index: 150; }

	.nav-trigger span { position: absolute; display: block; height: 1px; width: 100%; border-radius: 4px; background: #fff; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s; }

	.nav-trigger span:nth-child(1) { top: 0; }
	.nav-trigger span:nth-child(2) { top: 8px; }
	.nav-trigger--active { left: 190px; top: 33px; }
	.nav-trigger--active span { transition: background .2s, top .2s, opacity .2s, transform .2s .25s; background-color: #000; }

	.nav-trigger--active span:nth-child(2),
	.nav-trigger--active span:nth-child(1) { top: 8px; }

	.nav-trigger--active span:nth-child(1) { transform: rotate(45deg); }
	.nav-trigger--active span:nth-child(2) { transform: rotate(-45deg); }


	.nav { position: absolute; top: 0; left: 0; bottom: 0; z-index: 140; width: 100%; padding: 0; margin: 0;  opacity: 0; visibility: hidden; text-align: left; height: 100vh; font-size: 16px; font-weight: 500; overflow-x: scroll; }
	.nav:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; background-color: rgba(42, 83, 63, 0.8); }
	.nav a { display: block; height: 26px; padding: 10px; color: #2a533f; transition: 0s; font-size: 16px; line-height: 1.8;  }
	.nav a:before { content: none;  }
	.nav ul { padding: 0; margin-top: 25px; display: flex; flex-direction: column; width: 100%; }
	.nav li { display: block; width: 100%;  }
	.nav li:hover a { color: #000; }
	
	.nav li + li { margin-left: 0; margin-top: 10px; padding-left: 0; }
	.nav.visible { opacity: 1; visibility: visible; }
	.nav .nav__logo { width: 160px; height: auto; }
	.nav .nav__content { position: relative; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; padding: 40px 20px; width: 230px; background-color: #fff; transition: transform .4s, opacity.4s, visibility .4s; transform: translateX(-100%); }
	.nav.visible .nav__content { transform: translateX(0); }
	.nav .btn { max-width: 87px; border: 1px solid #2a533f; font-size: 16px; }
}