/* ------------------------------------------------------------ *\
	Plyr
\* ------------------------------------------------------------ */

.plyr--video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; }
.plyr--video.active { opacity: 1; visibility: visible; }