/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form .form__head { margin-bottom: 24px; }
.form .form__head h3 { color: #2a533f; }
.form .form__head h5 { color: #2a533f; }

.form label { font-weight: 500 !important; font-size: 17px !important; line-height: 1.47 !important; font-family: $font-quasimoda !important; }

.form .form__row + .form__row { margin-top: 20px; }

.form .form__actions { margin-top: 25px; }

.form .form__btn { border: 1px solid #2a533f; text-transform: uppercase; letter-spacing: 2px; font-size: 12px; font-weight: 500; color: #2a533f; padding: 9px 13px 11px; min-width: 200px; }
.form .form__btn:hover { background-color: #2a533f; color: #fff; }
