/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Gallery 
\* ------------------------------------------------------------ */

.list-gallery  { display: flex; align-items: center; }

.list-gallery li { display: inline-block; }
.list-gallery a { display: inline-block; text-decoration: none; }

/* ------------------------------------------------------------ *\
	List Links
\* ------------------------------------------------------------ */

.list-links { padding: 0; margin: 0; font-size: 12px; }

.list-links li { display: inline-block; }
.list-links li ~ li { margin-left: 20px; }
.list-links a { display: inline-block; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.list-links li { display: block; }
	
	.list-links li ~ li { margin-left: 0; margin-top: 10px; }
}

/* ------------------------------------------------------------ *\
	List Contact
\* ------------------------------------------------------------ */

.list-contact a { font-size: 14px; font-family: $font-quasimoda; }