/* ------------------------------------------------------------ *\
	Brand
\* ------------------------------------------------------------ */

.brand { padding: 90px 0; }

.brand .brand__image { background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.1); }
.brand .brand__icon { padding-bottom: 20px; }

.brand .brand__content { padding: 0 130px 0 0; }
.brand .brand__entry p { line-height: 1.5; }
.brand .brand__image-grid { position: relative; max-width: 384px; min-height: 570px; margin: 0 auto 0 120px;background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.1); }
.brand .brand__image-grid .brand__image:first-child { position: absolute; top: -50px; left: -200px; z-index: 10; height: 250px; width: 350px; }
.brand .brand__image-grid .brand__image:last-child { position: absolute; right: -216px;   width: 250px; height: 250px; }
.brand .brand__icon img { width: 181px;  }
.brand .brand__actions { padding-top: 36px; }

/* Small Desktop */

$breakpoint-small-desktop {
	.brand .brand__content { padding: 0 20px 0 20px; }
}

/* Mobile */

$breakpoint-mobile {
	.brand { padding: 0; }

	.brand .brand__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.brand .brand__image-grid .brand__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.brand .brand__image-grid .brand__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }

	.brand .brand__content { padding: 50px 5px; text-align: center; }
	.brand .brand__entry p { line-height: 1.33; }	
	.brand .brand__icon { padding-bottom: 33px; text-align: center; }
}