/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 69px 0 30px; }
.section .section__head { text-align: center; color: #2a533f; margin-bottom: 90px; }
.section .section__actions { margin-top: 84px; text-align: center; }

.section--news-padding-top { padding-top: 185px; }
.main .section--news:nth-child(even) .article .col-md-6 { order: 1; }

.section--news .article .article__actions { margin-bottom: 26px; }

.section--news ~ .section--news { padding-top: 0; }

.section-in-the-news .section__head { margin-bottom: 30px; }

.section--category-archive { padding-top: 105px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section { padding: 40px 0; }
	.section .section__head { margin-bottom: 65px; }
	.section .section__actions { margin-top: 50px; }

	.section--news-padding-top { padding-top: 105px; }
}

/* Mobile */

$breakpoint-mobile {
	.section--no-title .section__head { display: none; }
	.section .section__actions { margin-top: 15px; }
}

/* ------------------------------------------------------------ *\
	Section Borders
\* ------------------------------------------------------------ */

.section--borders { padding: 0px 0 100px; }

.section--borders .section__head { margin-bottom: 46px; position: relative; z-index: 1; }
.section--borders .section__head p { font-size: 14px; font-family: $font-quasimoda; color: #2a533f; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; }
.section--borders .section__head:before,
.section--borders .section__head:after { content: ''; position: absolute; top: 0; bottom: 0; margin: auto; height: 1px; width: 39%; background-color: #c2cbc4; }
.section--borders .section__head:before { left: 0; }
.section--borders .section__head:after { right: 0; }

/* ------------------------------------------------------------ *\
	Section contact
\* ------------------------------------------------------------ */

.section--contact { padding-top: 105px; padding-bottom: 68px; }
.section--contact .section__head { margin-bottom: 52px; }

/* ------------------------------------------------------------ *\
	Section Camp
\* ------------------------------------------------------------ */

.section-camp { padding: 75px 0 220px; }

.section-camp .section__icon { padding-bottom: 44px; }
.section-camp .section__content { padding: 0 140px 0 0; }
.section-camp .section__entry h4 { color: #2A533F; }
.section-camp .section__actions { padding-top: 38px; }
.section-camp .section__image-grid { position: relative; min-height: 570px; max-width: 384px; margin: 91px auto 0 -11px; background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }

.section-camp .section__image-grid .section__image { box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-camp .section__image-grid .section__image:first-child { position: absolute; top: 41px; right: -50%; }
.section-camp .section__image-grid .section__image:last-child { position: absolute; top: calc(100% - 121px); left: calc(-50% + 30px); }

.section-camp .section__image { background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-camp .section__image-grid .section__image:first-child { position: absolute; z-index: 10; width: 250px; height: 250px; }
.section-camp .section__image-grid .section__image:last-child { position: absolute; width: 350px; height: 250px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-camp { padding: 40px 0; }

	.section-camp .section__content { padding: 0 20px 0 0; }

	.section-camp .section__image-grid { width: 224px; min-height: 450px; margin: 20px auto; }
	.section-camp .section__image-grid .section__image:first-child { width: 150px; height: 150px; }
	.section-camp .section__image-grid .section__image:last-child { width: 200px; height: 100px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-camp .col-md-6:nth-child(2) { order: -1; }

	.section-camp .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-camp .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-camp .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }
	.section-camp .section__content { padding: 50px 5px; text-align: center; }
	.section-camp .section__entry p { line-height: 1.33; }	
	.section-camp .section__icon { padding-bottom: 33px; text-align: center; }
	.section-camp .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-camp .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-camp .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }
	.section-camp .section__content { padding: 50px 5px; text-align: center; }
	.section-camp .section__entry p { line-height: 1.33; }	
	.section-camp .section__icon { padding-bottom: 33px; text-align: center; }

	.section-camp .section__icon img { width: 181px; margin: 0 auto; }

	.section-camp .slick-slide .brand .brand__image-grid .brand__image:first-child { display: none; }
	.section-camp .slick-slide.slick-current .brand .brand__image-grid .brand__image:first-child { display: block; }

	.brands-wrapper .section__image-grid { display: none; }
	.brands-wrapper .slick-current .section__image-grid { display: block; }

}

/* ------------------------------------------------------------ *\
	Section Brands Left
\* ------------------------------------------------------------ */

.section-brands-left { padding: 145px 0 230px; }

.section-brands-left .section__entry h3,
.section-brands-left .section__entry h4 { color: #2A533F; }
.section-brands-left .section__image-grid { position: relative;  margin: -67px 0 0 -67px; max-width: 540px; min-height: 385px; background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-brands-left .section__image { background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-brands-left .section__image-grid .section__image:first-child { position: absolute; top: calc(100% - 30px); right: 170px; z-index: 10; width: 250px; height: 250px; }
.section-brands-left .section__image-grid .section__image:last-child { position: absolute; top: calc(100% - 88px); right: -98px; height: 417px; width: 281px; }
.section-brands-left .section__image-grid .section__image--bottom:first-child { top: 102px; right: calc(100% - 63px); width: 250px; height: 250px; }
.section-brands-left .section__icon { padding-bottom: 42px; }
.section-brands-left .section__content {  padding: 0 85px 0 58px; }
.section-brands-left .section__actions { padding-top: 37px; }

/* section-brands-left--small-gutters */

.section-brands-left--small-gutters { padding: 73px 0 200px; }

.section-brands-left--small-gutters .section__image-grid { margin: 0 0 0 -67px; }
.section-brands-left--small-gutters .section__icon { padding-bottom: 20px; }

/* section-brands-left--with-title */

.section-brands-left--with-title { padding: 145px 0 276px; }

.section-brands-left--with-title .section__content { margin-top: 120px; }
.section-brands-left--with-title .section__entry h3 { margin-bottom: 10px; }

 
 /* Small Desktop */
 
 $breakpoint-small-desktop {
 	.section-brands-left .section__image-grid { width: 440px; }
 } 

/* Tablet Portrait */
 
$breakpoint-tablet-portrait {
	.section-brands-left { padding: 40px 0; }

	.section-brands-left .section__image-grid { max-width: 230px; margin: 0 auto; }
	.section-brands-left .section__image-grid .section__image:first-child { width: 170px; height: 170px; }
	.section-brands-left .section__image-grid .section__image:last-child { width: 200px; height: 320px; right: -20px; }
	.section-brands-left .section__content { padding: 0 40px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-brands-left .row .col-md-6:nth-child(1) { order: -1; }

	.section-brands-left--with-title .section__content { margin-top: 0; }

	.section-brands-left .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-brands-left .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-brands-left .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }

	.section-brands-left .section__content { padding: 50px 5px; text-align: center; }
	.section-brands-left .section__entry p { line-height: 1.33; }	
	.section-brands-left .section__icon { padding-bottom: 33px; text-align: center; }

	.section-brands-left .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-brands-left .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-brands-left .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }

	.section-brands-left .section__content { padding: 50px 5px; text-align: center; }
	.section-brands-left .section__entry p { line-height: 1.33; }	
	.section-brands-left .section__icon { padding-bottom: 33px; text-align: center; }

	.section-brands-left .section__icon img { width: 181px; margin: 0 auto; }

	.brands-wrapper .section__image-grid { display: none; }
	.brands-wrapper .slick-current .section__image-grid { display: block; }
}

/* ------------------------------------------------------------ *\
	Section Brands Right
\* ------------------------------------------------------------ */

.section-brands-right { padding: 134px 0 287px; }

.section-brands-left ~ .section-brands-right--story { padding-top: 0; }

.section-brands-right .section__entry h3,
.section-brands-right .section__entry h4 { color: #2A533F; }

.section-brands-right .section__image-grid { position: relative; margin: 0 auto 0 25px; max-width: 384px; min-height: 570px; background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-brands-right .section__image { background-repeat: no-repeat; background-position: center center; background-size: cover; box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1); }
.section-brands-right .section__image-grid .section__image:first-child { position: absolute; top: calc(100% - 170px); right: calc(100% - 63px); z-index: 10; width: 250px; height: 250px; }
.section-brands-right .section__image-grid .section__image:last-child { position: absolute; top: calc(100% - 65px); left: calc(100% - 33px);  width: 350px; height: 250px; }

.section-brands-right .section__image-grid .section__image--top:first-child { top: 102px; right: calc(100% - 63px); width: 250px; height: 250px; }

.section-brands-right .section__icon { padding-bottom: 20px; }
.section-brands-right .section__content {  padding: 0 150px 0 0; }
.section-brands-right .section__actions { padding-top: 41px; }

/* section-brands-right--with-title */

.section-brands-right--with-title { padding: 134px 0 248px; }

.section-brands-right--with-title .section__entry h3 { margin-bottom: 17px; }
.section-brands-right--with-title .section__content { padding: 0 120px 0 0; }
.section-brands-right--with-title .section__content p { padding-right: 20px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-brands-right { padding: 110px 0 40px; }
	.section-brands-right .section__image-grid { max-width: 284px; min-height: 470px; }
	.section-brands-right .section__image-grid .section__image:first-child { width: 170px; height: 170px; }
	.section-brands-right .section__image-grid .section__image:last-child { width: 200px; height: 100px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-brands-right { padding: 40px 0; }
	.section-brands-right .row .col-md-6:nth-child(2) { order: -1; }
	.section-brands-right .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-brands-right .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-brands-right .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }
	.section-brands-right .section__content { padding: 50px 5px; text-align: center; }
	.section-brands-right .section__entry p { line-height: 1.33; }	
	.section-brands-right .section__icon { padding-bottom: 33px; text-align: center; }
	.section-brands-right .section__image-grid { margin: 0 auto; max-width: 230px; min-height: 230px; }
	.section-brands-right .section__image-grid .section__image:first-child { top: 0; bottom: 0; left: auto; right: calc(100% + 10px); width: 230px; height: 230px; }	
	.section-brands-right .section__image-grid .section__image:last-child { top: 0; bottom: 0; left: calc(100% + 10px); right: auto; width: 230px; height: 230px; }
	.section-brands-right .section__content { padding: 50px 5px; text-align: center; }
	.section-brands-right .section__entry p { line-height: 1.33; }	
	.section-brands-right .section__icon { padding-bottom: 33px; text-align: center; }

	.section-brands-right .section__icon img { width: 181px; margin: 0 auto; }

	.brands-wrapper .section__image-grid { display: none; }
	.brands-wrapper .slick-current .section__image-grid { display: block; }
}

/* ------------------------------------------------------------ *\
	Section News
\* ------------------------------------------------------------ */

.section-news { padding: 110px 0; background-color: #fff; position: relative; }

/* Mobile */

$breakpoint-mobile {
	.section-news { padding: 72px 0 40px; }
}

/* ------------------------------------------------------------ *\
	Section Subscribe
\* ------------------------------------------------------------ */

.section-subscribe { padding: 74px 0; background-color: $dark-orange; text-align: center;  background-repeat: no-repeat; background-position: -228px -46px; background-size: 654px 420px; position: relative; z-index: 5; }
.section-subscribe .section__head { max-width: 460px; margin: 0 auto; padding-bottom: 25px; }
.section-subscribe .section__title { color: #2a533f; letter-spacing: -0.13px; margin-bottom: 16px; font-weight: 500; }
.section-subscribe .section__entry { padding: 25px 0 0; font-size: 11px; }

/* Mobile */

$breakpoint-mobile {
	.section-subscribe { padding: 92px 0; }
	.section-subscribe .section__head { padding-bottom: 40px; max-width: 233px; line-height: 1.3;  }
	.section-subscribe .section__title { font-size: 46px; font-weight: 500; }
	.section-subscribe { background-size: 254px 200px; background-position: -120px 0; }
	.section-subscribe .section__entry { padding-top: 20px; }
	.section-subscribe .section__entry p { padding: 0; font-size: 11px; }
}

/* ------------------------------------------------------------ *\
	Section Company
\* ------------------------------------------------------------ */

.section-company { padding: 15px 0 80px; background-repeat: no-repeat; background-position: 120% 50%; background-size: 700px 700px; }
.section-company .container { max-width: 1170px; }
.section-company .section__image-grid { position: relative;  background-repeat: no-repeat; background-position: center center; background-size: cover;  max-width: 570px; min-height: 384px;   }
.section-company .section__image-grid .section__image:first-child { position: absolute; top: 80%; left: 68%; background-repeat: no-repeat; background-position: center center; background-size: cover; width: 250px; height: 250px; }
.section-company .section__entry h3 { margin-bottom: 16px; letter-spacing: -0.13px; color: #2A533F; }
.section-company .section__content { padding: 60px 75px 0 60px; }
.section-company .section__actions { padding-top: 35px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-company .section__image-grid { margin: 0 auto; }
}

/* Mobile */

$breakpoint-mobile {
	.section-company { padding: 70px 0 80px; background-position: 70px -80px; background-size: 400px 400px; }

	.section-company .section__content { padding: 100px 20px 0 0; }
	.section-company .section__entry h3 { line-height: 1.13; margin-bottom: 8px; }
	.section-company .section__entry p { padding: 0 5px; }
	.section-company .section__image-grid { max-width: 248px; min-height: 167px; }
	.section-company .section__image-grid .section__image:first-child { width: 109px; height: 109px; }
	.section-company .col-md-6:first-of-type { order: 2; }
	.section-company .section__actions { padding-top: 20px; }
}

/* ------------------------------------------------------------ *\
	Section Slider
\* ------------------------------------------------------------ */

.section-slider { padding: 140px 0 100px; }

/* Mobile */

$breakpoint-mobile {
	.section-slider { padding: 20px 0 20px }
}

/* ------------------------------------------------------------ *\
	Section Brands
\* ------------------------------------------------------------ */

.section-brands { padding: 100px 0 50px; background-repeat: no-repeat; background-position: -150px 100%; background-size: 600px 600px; }

.section-brands .section__head { padding-bottom: 49px;  max-width: 530px; margin: 0 auto; text-align: center; }
.section-brands .section__head--large { max-width: 100%; }
.section-brands .section__title { margin-bottom: 25px; color: #2a533f; }
.section-brands .section__foot { text-align: center; padding: 104px 0 60px; position: relative; }
.section-brands .section__foot h4 { color: #2a533f; font-weight: 400; max-width: 870px; margin: auto; line-height: 1.33; }

.section-brands .section__foot--icon { padding: 0; margin-top: 26px; }
.section-brands .section__foot--icon span { width: 47%; height: 1px; background-color: rgba(42, 83, 63, .5); display: block; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; }
.section-brands .section__foot--icon span:last-child { left: auto; right: 0; }

/* Mobile */

$breakpoint-mobile {
	.section-brands { padding: 64px 0 10px; }

	.section-brands .section__head { padding-bottom: 7px; }
	.section-brands .section__title { margin-bottom: 21px; font-size: 50px; }
	.section-brands .section__head h4 { margin-bottom: 20px; }
	.section-brands .section__head p { padding: 0 30px; line-height: 1.4;  }

	.section-brands .section__foot { padding: 60px 0; }

	.section-brands .section__foot--icon span { width: 39%; }
}

/* ------------------------------------------------------------ *\
	Section Team
\* ------------------------------------------------------------ */

.section-team { padding: 10px 0 0; position: relative; z-index: 2; }
.section-team .section__outer { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } 
.section-team .section__outer--image { position: absolute; } 
.section-team .section__outer--image-1 { bottom: -133px; left: -407px; width: 878px; height: 815px; transform: rotate(-62deg); } 
.section-team .section__outer--image-2 { top: -6px; right: -191px; width: 580px; height: 581px; transform: rotate(-26deg); z-index: 5; } 

.section-team .section__head { padding: 50px 0 25px; text-align: center; } 
.section-team .section__head h3 { color: #2a533f; } 
.section-team .section__title { color: #2A533F;  } 

/* Mobile */

$breakpoint-mobile {
	.section-team { padding: 24px 0 0; }	
	.section-team .section__head { padding: 15px 0 0; }
	.section-team .section__title { font-size: 50px; }
}

/* ------------------------------------------------------------ *\
	Section Video
\* ------------------------------------------------------------ */

.section-video { position: relative; padding-top: 56.25%; }
.section-video .section__bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.section-video .section__bg:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(42,83,63,.3); }

.section-video .section__frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.section-video .section__btn { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 102px; height: 102px; margin: auto; }
.section-video .section__btn:hover { opacity: .6; }

/* ------------------------------------------------------------ *\
	Section Related Stories
\* ------------------------------------------------------------ */

.section--related-stories .article { padding: 0 20px; }

/* ------------------------------------------------------------ *\
	Section Expirience
\* ------------------------------------------------------------ */

.section-experience { position: relative; padding: 160px 55px 100px; }
.section-experience .section__head h3 { color: #2a533f; }

.section-experience .section__body { position: relative; z-index: 1; }

.section-experience .section__foot { padding-top: 80px; position: relative; z-index: 1; }
.section-experience .section__foot ul { display: flex; justify-content: space-between; list-style-type: none; }
.section-experience .section__foot li img { max-width: 170px; }

.section-experience .section__outer { position: absolute; right: -865px; bottom: -125px; }
.section-experience .section__outer img { transform: rotate(180deg); height: 976px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-experience .section__foot li img { max-width: 130px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-experience { padding: 105px 5px 75px; }
	.section-experience .section__foot { padding-top: 40px; }
	.section-experience .section__foot ul { flex-wrap: wrap }
	.section-experience .section__foot li { width: 50%; text-align: center; }
}

/* ------------------------------------------------------------ *\
	Section Investor Kit
\* ------------------------------------------------------------ */

.section-investor-kit { position: relative; z-index: 2; background: #fff; padding: 91px 0 112px; }
.section-investor-kit .container { padding: 0 55px; }

.section-investor-kit .section__head { text-align: center; }
.section-investor-kit .section__head h2 { color: #2a533f; font-weight: 500; line-height: 94px; }

.section-investor-kit .section__body { padding-top: 70px; }

.section-investor-kit .section__content { padding-top: 30px; }
.section-investor-kit .section__content h4 { color: #2a533f; }
.section-investor-kit .section__content h5 { margin-bottom: 16px; color: #2a533f; font-size: 14px; font-weight: 500; letter-spacing: 2px; }
.section-investor-kit .section__content ul { padding-left: 20px; }

.section-investor-kit .section__image { margin-right: -46px; }

.section-investor-kit .btn { margin-top: 10px; padding: 13px 39px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-investor-kit { padding: 40px 0 82px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-investor-kit { padding: 30px 0 50px; }
	.section-investor-kit .section__body { padding-top: 0; }
	.section-investor-kit .section__body .col-md-6 { order: -1; }
	.section-investor-kit .section__image { margin-left: -46px; }

	.section-investor-kit .section__content { text-align: center; }
	.section-investor-kit .section__content h4,
	.section-investor-kit .section__content h5,
	.section-investor-kit .section__content ul { text-align: left; }
}

/* ------------------------------------------------------------ *\
	Section News
\* ------------------------------------------------------------ */

.section-news-investors { padding: 110px 0; background: #e9e9e5; }
.section-news-investors .section__head h2 { color: #2a533f; font-weight: 500; line-height: 94px; text-align: center; }

.section-news-investors .section__body { padding-top: 90px;  }

.section-news-investors .article { width: 19%; }
.section-news-investors .article__head { min-height: 135px; }

.section-news-investors .section__actions { margin-top: 70px; text-align: center; }

.section-news-investors--no-padding { padding-top: 0; padding-bottom: 20px; }

.section-news-investors .section__foot--icon { padding: 0; margin-top: 98px; margin-left: -50px; margin-right: -50px; text-align: center; position: relative; }
.section-news-investors .section__foot--icon span { width: 47%; height: 1px; background-color: #2a533f; display: block; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; }
.section-news-investors .section__foot--icon span:last-child { left: auto; right: 0; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-news-investors { padding: 40px 0 30px; }
	.section-news-investors .section__body { padding-top: 40px; }

	.section-news-investors--no-padding ~ .section-news-investors--no-padding { padding-top: 0; }
}

/* Mobile */

$breakpoint-mobile {
	.section-news-investors .article { width: 46%; }
	.section-news-investors .article__head { min-height: 50px; }
	.section-news-investors .section__actions { margin-top: 15px; }
	.section-news-investors--no-padding { padding-top: 0; }

	.section-news-investors .section__foot--icon { margin-top: 66px; }
}

/* ------------------------------------------------------------ *\
	Section Press Releases
\* ------------------------------------------------------------ */

.section-press-releases .section__head { }
.section-press-releases .section__head h2 { color: #2a533f; font-weight: 500; line-height: 94px; text-align: center; }

.section-press-releases .section__body { padding-top: 50px; }

.section-press-releases .releases { max-width: 806px; margin: 0 auto; }

.section-press-releases .release { margin-bottom: 50px }
.section-press-releases .release .release__meta { margin-bottom: 10px; font-size: 14px; font-weight: 500; letter-spacing: 2px; color: #2a533f; }
.section-press-releases .release .release__title { text-decoration: underline; color: #2a533f; }
.section-press-releases .release .release__title:hover { text-decoration: none; }
.section-press-releases .release .release__title a:hover { color: #2a533f; }
.section-press-releases .release .release__body { padding-top: 20px; }

.section-press-releases .section__actions { text-align: center; }

.section-press-releases .section__foot--icon { padding: 0; margin-top: 98px; text-align: center; position: relative; }
.section-press-releases .section__foot--icon span { width: 47%; height: 1px; background-color: #2a533f; display: block; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; }
.section-press-releases .section__foot--icon span:last-child { left: auto; right: 0; }

.section-press-releases .btn { padding: 13px 98px; }

.section-press-releases--inner { padding-top: 160px; }

/* Mobile */

$breakpoint-mobile {
	.section-press-releases { padding-bottom: 15px; }
	.section-press-releases .section__body { padding-top: 15px; }
	.section-press-releases .section__foot--icon { margin-top: 40px; }

	.section-press-releases--inner { padding-top: 105px; }
}

/* ------------------------------------------------------------ *\
	Section Download
\* ------------------------------------------------------------ */

.section-download { padding-top: 160px; padding-bottom: 100px; }
.section-download .row { justify-content: space-between; }
.section-download .section__head h3 { color: #2a533f; }
.section-download .section__image { margin-left: -48px; margin-right: -7px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-download .section__image { margin-left: -36px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-download { padding: 105px 5px 75px; }
	.section-download .section__image { margin-right: -36px; }
}