/* ------------------------------------------------------------ *\
	Animation
\* ------------------------------------------------------------ */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
