/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; text-decoration: none; appearance: none; }

.btn--transparent { background-color: transparent; border-radius: 0; }

.btn--primary { padding: 12px 10px; min-width: 200px; border: 1px solid #2a533f; text-align: center;  text-transform: uppercase; font-size: 12px; line-height: 12px; font-weight: 500; letter-spacing: 2px; color: #2a533f; border-radius: 0; }

.btn--border-white { border-color: #fff !important; }

.btn--primary:hover { background-color: #2a533f; color: #fff; }

.btn--white { border-color: #fff; color: #fff; }

/*  Button Block  */

.btn--block { display: block; padding-left: 0; padding-right: 0; }

/* Button Large */

.btn--large { min-width: 293px; }

/* Button Tag */

.btn-tag { font-size: 12px; font-weight: 400; letter-spacing: 1.85px; text-transform: uppercase; color: #a2aba6; text-decoration: none; border: 1px solid #a2aba6; padding: 10px 15px; font-family: $font-gteesti; display: inline-block; }
.btn-tag:hover { background-color: #a2aba6; color: #fff; }

/* Tablet Portrait */
 
 $breakpoint-tablet-portrait {
 	
 } 