/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials ul { list-style-type: none; }
.socials li { display: block; }
.socials li a { display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; background-color: #2a533f; position: relative; text-decoration: none; }
.socials li a i { font-size: 20px; color: #fff; }
.socials li a:hover { opacity: .8; }