/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: inline-block; text-decoration: none; }
.logo svg { width: 174px; height: 50px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.logo svg { width: 140px; height: 40px; }
	.logo { text-align: center; margin-right: 0; margin-left: 0px; }	
}

/* Mobile */

$breakpoint-mobile {
}