/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit !important; opacity: 1 !important; }
textarea::placeholder { color: inherit !important; opacity: 1 !important; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }
textarea { resize: none !important; }

.form input[type="tel"],
.form input[type="email"],
.form input[type="text"] { appearance: none !important; height: auto !important; font-size: 17px !important; font-weight: 300 !important; line-height: 1.47 !important; border: 0 !important; padding: 18px 24px 22px !important; width: 100% !important; border: 1px solid #fff !important; transition: border .3s !important; border-radius: 0 !important; }

.form input[type="tel"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="text"]::placeholder { opacity: .6 !important; }

.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form input[type="text"]:focus { border: 1px solid #979797 !important; box-shadow: none !important; }

.select {}
.radio {}
.checkbox {}

.custom-select { width: 100%; border-radius: 0; height: 60px; font-size: 17px; line-height: 1.47; font-weight: 300; border: 1px solid #fff; appearance: none; background-image: url(../images/temp/ico-arrow-down.png); background-size: 20px 10px; padding: 13px 24px; background-position: right 34px center;  }
.custom-select:focus { border-color: #979797; }

.form .frm_button_submit { transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; width: 200px !important; height: 40px !important; border: 1px solid #2a533f !important; text-transform: uppercase !important; letter-spacing: 2px !important; font-size: 12px !important; color: #2a533f !important; border-radius: 0 !important; background: transparent !important; }
.form .frm_button_submit:hover { color: #fff !important; background: #2a533f !important; }