/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 72px 0; background-color: #000; color: #fff; }

.footer .container { max-width: 1215px; }
.footer .logo { max-width: 157px; }
.footer .footer__nav { font-size: 17px; font-weight: 300; }
.footer .footer__nav li { display: inline-block; }
.footer .footer__nav li ~ li { margin-left: 25px; } 
.footer .footer__nav a { position: relative; display: inline-block; text-decoration: none; }
.footer .footer__nav a:before { content: ''; position: absolute; top: 100%; left: 50%; height: 1px; width: 0; background-color: #fff; transition: .4s; }
.footer .footer__nav a:hover { color: #fff; }
.footer .footer__nav a:hover:before { left: 0; width: 100%; }



.footer .footer__inner { display: flex; align-items: center; justify-content: space-between; padding: 30px 0; }
.footer .footer__bar { display: flex; padding-top: 60px; align-items: center; justify-content: space-between; }
.footer .footer__copyright { margin: 0; font-size: 12px;  }
.footer .btn { min-width: 173px; border-color: #fff; text-transform: uppercase; font-size: 12px; letter-spacing: 2px; }
.footer .btn:hover { color: #fff; opacity: .7;  }

.footer .footer__socials { display: flex; list-style-type: none; }
.footer .footer__socials li { padding: 0 15px; }
.footer .footer__socials a { position: relative; display: inline-block; text-decoration: none; }
.footer .footer__socials a:before { content: ''; position: absolute; top: 100%; left: 50%; height: 1px; width: 0; background-color: #fff; transition: .4s; }
.footer .footer__socials a:hover { color: #fff; }
.footer .footer__socials a:hover:before { left: 0; width: 100%; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.footer { padding: 20px 0; }

	.footer .logo { margin-bottom: 37px; }
	.footer .footer__nav { margin-bottom: 33px; }
	.footer .footer__nav li { display: block; text-align: center; }
	.footer .footer__nav li ~ li { margin-left: 0; margin-top: 23px; }
	.footer .footer__inner { display: block;  text-align: center; }	
	.footer .btn { padding: 0 10px; min-width: 200px; height: 40px; line-height: 38px; }
	.footer .footer__bar { padding-top: 18px; display: block; text-align: center; }
	.footer .footer__copyright { margin-bottom: 19px; }
}
