/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: absolute; left: 0; top: 0; z-index: 100; width: 100%; padding: 36px 0 56px; transition: background .3s, padding .3s;}

.header .logo img { width: 174px; }

.header.fixed { background-color: #2a533f; position: fixed; padding: 29px 0 28px; }
.header.fixed .nav a { color: #fff; }
.header.fixed .nav__btn a { border-color: #fff !important; }
.header.fixed .nav__btn a:hover { background-color: #fff; color: #2a533f; }
.header.fixed .logo svg,
.header.fixed .logo img { width: 142px; height: 54px; }
.header.fixed .logo svg path { fill: #fff; }

.header .container { max-width: 900px; }
.header .header__inner { display: flex; align-items: center; justify-content: space-between; }

.header--dark a { color: $dark-gray; }

.header--dark .nav .nav__btn a { border-color: #2a533f; }
.header--dark .logo__image-fixed { display: none; }

.admin-bar .header { margin-top: 32px; }

.header.header--404 { position: relative; margin-top: 0; background-color: #2a533f; position: fixed; padding: 29px 0 28px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.header { padding: 35px 0; }
	.header .header__inner { justify-content: center;  }	
	.header.fixed .nav-trigger { top: 30px; }
	.header.fixed .nav-trigger span { background-color: #fff; }
	.header--dark .nav-trigger span { background-color: #2a533f; }
}

/* Mobile */

$breakpoint-mobile {
	.header { padding: 64px 0 60px; }
	
	.header .logo { width: 140px; }
	
	.admin-bar .header { margin-top: 0; }
}