/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { position: relative; z-index: 10; padding: 220px 0 70px; text-align: center; background-color: rgba(42, 83, 63, 0.6); color: #fff; }
.intro .intro__content { position: relative; max-width: 998px; margin: 0 auto; }
.intro .intro__content h1 { margin-bottom: 70px; }
.intro .intro__content h2 { line-height: 0.94; }
.intro .intro__content p { max-width: 600px; margin: 0 auto; font-weight: 300; }
.intro .intro__meta { font-size: 14px; letter-spacing: 2px; font-weight: 500; text-transform: uppercase; margin-bottom: 30px !important; }

.intro .intro__image { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.intro .intro__image:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(42,83,63,.6); }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.intro { padding: 160px 0; }
	.intro .intro__content h1 { margin-bottom: 35px; }
}

/* ------------------------------------------------------------ *\
	Intro Without Backgound
\* ------------------------------------------------------------ */

.intro-no-backgound { padding: 230px 0 30px; background-repeat: no-repeat; background-position: -180px -271px; background-size: 800px 800px; background-color: $gray; color: #2a533f; font-family: $font-gteesti; background-attachment: fixed; }
.intro-no-backgound .intro__actions { padding: 50px 0 0; }
.intro-no-backgound .intro__content h1 { margin-bottom: 65px; }
.intro-no-backgound .intro__content p { font-size: 22px; line-height: 1.82; }
.intro-no-backgound .link { display: inline-block; animation: bounce 1s infinite alternate; }


/* Mobile */

$breakpoint-mobile {
	.intro-no-backgound { padding: 193px 0 0; }

	.intro-no-backgound .intro__actions { padding: 68px 0 0; }
	.intro-no-backgound .intro__content h1 { margin-bottom: 10px; line-height: 0.96; }
	.intro-no-backgound .intro__content p { padding: 0 20px; font-size: 16px; line-height: 1.4; }
}

/* ------------------------------------------------------------ *\
	Intro Blog
\* ------------------------------------------------------------ */

.intro--blog { padding-bottom: 130px; }
.intro--blog .intro__content h2 { margin-bottom: 30px; }