/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main { position: relative; }
.main .main__outer { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.main .main__socials { position: absolute; left: 0; top: 49px; z-index: 20; }
.main .main__image { position: absolute; }
.main .main__image--top { top: 0; }
.main .main__image--right { right: 0; }
.main .main__image--1 { width: 605px; height: 579px; top: 120px; right: -204px; transform: rotate(-45deg); }
.main .main__image--2 { transform: rotate(20deg); left: -270px; top: 364px; width: 539px; height: 517px; }

.main--gray { background-color: $gray; }

.main--404 { display: flex; justify-content: center; align-items: center; height: calc( 100vh - 465px ); }
.main--404 h2 { color: #2a533f; }

/* Mobile */

$breakpoint-mobile {
	.main .main__socials { z-index: 21; }
}