$font-family-sans-serif     : Arial, Helvetica, sans-serif;
$font-family-serif          : Times, 'Times New Roman', serif;

$font-freightneo            : 'FreightNeo', sans-serif;
$font-quasimoda  			: "quasimoda", sans-serif;
$font-lucida  			    : "Lucida", sans-serif;
$font-gteesti  			    : "GTEesti", sans-serif;

$font-size-base             : 17px;
$line-height-base           : 1.47;

$shell-max-width            : 1200px;
$shell-gutter               : 10px;

$responsive-xxs				: 374px;
$responsive-xs				: 767px;
$responsive-ios				: 812px;
$responsive-sm				: 1023px;
$responsive-md				: 1200px;

$breakpoint-mobile-portrait : @media (max-width: $responsive-xxs);
$breakpoint-mobile          : @media (max-width: $responsive-xs);
$breakpoint-tablet-portrait : @media (max-width: $responsive-sm);
$breakpoint-small-desktop   : @media (max-width: $responsive-md);
$retina                     : @media (min-resolution: 2dppx);

$gray 						: #e9e9e5;
$dark-orange 				: #c3cec8;
$dark-gray                  : #2a533f;